*{
    margin:0;
    padding:0;
}

header{
    background: url('./assests/imgs/浮世繪卷01\,\ Aki\ 烨火\ \(1\).png'),rgb(67, 56, 56);
    background-size: cover;
    background-attachment: fixed;
    width:100%;
    height:99.7vh;
}
header .overlay{
    color: aliceblue;
    background-color: rgba(15, 15, 15, 0.78);
    width: 100%;
    height: 100%;    
}

header .overlay .content{
    font-family:"Sofia", sans-serif;
    width: 70%;
    margin: auto;
    transform: translateY(20vh);
    text-align: left;
    color: #105160;
    text-shadow: #081517 9px 3px 5px;
}
header .overlay .content h1{
    font-size: 10vw;
}
header .overlay .content span{
    margin-left: 20vw;
    color: #C6A590;
    font-size:5vw;
}

header .overlay .content p{
    font-size: 2.5vw;
    padding-top:55px;
}



@media only screen 
and (min-width : 300px) 
and (max-width : 490px) {
  header .overlay .content h1
  {
    font-size: 25vw;
    line-height: 130px;
    
  }
  header .overlay .content span{
    margin: 0;
    font-size: 10vw;
  }
  header .overlay .content p{
    padding-top: 25px;
    font-size: 4vw;
  }
 
}
@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) {

}



